main {
    height: calc(100% - 50px);
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    min-height: 50px;
    background-color: var(--color-primary-dark);
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.menu-icon > div {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    border-radius: 2px;
    background-color: #00A3AD;
    transition: 0.4s;
}

.toggle div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.toggle div:nth-child(2) {
    opacity: 0;
}

.toggle div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

.logo-header {
    height: 2.8em;
    margin-top: 5px;
}

.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    overflow-x: hidden;
    background-color: var(--text-color-dark);
    transition: 0.4s; 
}

.side-nav > button {
    display: block;
    width: 100%;
    height: 4em;
    white-space: nowrap;
    font-weight: bolder;
    text-align: start;
    color: var(--text-color-light);
    background-color: transparent;
    transition: 0.3s;
}
  
.side-nav > button:hover {
    background-color: #4b4b4b;
}

.side-nav > button > i,
.modal-content i {
    margin: 0 10px;
}

.container-main {
    display: flex;
    height: 100%;
    transition: margin-left .4s;
}

.icon-btn {
    outline: none;
    border: none;
    background-color: white;
    color: lightgrey;
    transition: color 0.3s;
}

.icon-btn:hover {
    color: var(--text-color-light);
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #ECECEC;
}

.search-input-wrapper {
    display: flex;
    width: 80%;
    padding: 2px 5px;
    border-radius: 6px;
    background-color: #ECECEC;
}

input[type="search"] {
    flex: 1;
    width: 100%;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: #ECECEC;
}

.dialog-list-container {
    /* display: none; */
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.dialog-list {
    max-height: calc(100% - 60px);
    overflow-y: auto;
}

.dialog {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid #ECECEC;
}

.dialog:not(.active):hover {
    background-color: var(--color-primary-light);
}

.avatar {
    flex: 0 0 56px;
    object-fit: cover;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.dialog-info {
    height: 100%;
    padding: 5px;
    min-width: 0;
    text-align: center;
}

.dialog-info i {
    color: #85D4DB;
}

.dialog-info .unread {
    width: min-content;
    min-width: 1.5em;
    height: 1.5em;
    margin: auto;

    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 0.75em;
    color: white;
    background-color: #85D4DB;
}

.dialog-info:nth-of-type(1) {
    flex: 1;
    text-align: left;
}

.dialog p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog time {
    display: block;
}

.username {
    font-weight: bold;
}

.last-msg-out::before {
    content: "You: ";
}

.active {
    color: white;
    background-color: #00A3AD;
}

.chat-container {
    display: none;
    /* flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column; */
}

.chat-container .icon-btn {
    height: 40px;
}

.chat-header {
    height: 60px;
    padding: 0 10px 0 30px;
    display: flex;
    align-items: center;
}
      
.chat-history {
    flex: 1;
    max-height: calc(100% - 110px); 
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 20px;
    overflow-y: auto;
    background-color: var(--color-primary-light);
}

.chat-footer {
    max-height: 200px;
    padding: 5px 10px;
    display: flex;
    align-items: flex-start;
}

.chat-footer button {
    flex: 0 0 40px;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* Firefox */
}
 
div[contenteditable=true] {
    flex: 1;
    max-height: 180px;
    outline: none;
    overflow: auto;
    padding: 5px;
    border: 2px solid white;
    background: white;
}

div[contenteditable=true]:focus {
    border-radius: 6px;
    border: 2px solid #ECECEC;
}

.msg {
    max-width: 95%;
    list-style: none;
}

.msg p {
    display: inline;
    white-space: pre-wrap;
    color: initial;
}

.msg time {
    float: right;
    margin-left: 20px;
}

.msg-in {
    background-color: white;
}

.msg-in time {
    color: #C4C4C4;
}

.msg-in, 
.msg-out > div {
    padding: 5px;
    border-radius: 6px;
}

.msg-out {
    align-self: flex-end;
}

.msg-out > div {
    display: inline-block;
    background-color: #85D4DB;
}

.msg-out > i {
    margin-right: 10px;
    color: #85D4DB;
}

.modal-wrapper {
    display: none; 
    width: 100%;
    height: 100%;
    position: fixed; 
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal {
    width: 100%;
    margin: 200px auto;
    text-align: end;
    background-color: white;
}

.modal > button {
    margin: 15px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    padding: 15px 15px 15px 30px;
}

.modal-content {
    padding: 0 40px 40px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

input[type=checkbox] {
    display: block;
	height: 0;
    width: 0;
	visibility: hidden;
}

.switch-wrapper {
    display: flex;
    justify-content: space-between;
}

.toggle-switch > label {
    width: 36px;
    height: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
	background: var(--text-color-light);
	border-radius: 10px;
}

.toggle-switch > label:after {
    width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
    left: 2px;
    content: "";
    border-radius: 8px;
    background: white;
	transition: 0.2s;
}

.toggle-switch label:active:after {
	width: 25px;
}

input:checked + label {
    background-color: var(--color-primary-dark);
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

#settingsModalContainer .modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 40px 40px;
    color: initial;
    background-color: var(--color-primary-light);
}

#settingsModalContainer .modal-content > button {
    text-align: start;
    background-color: var(--color-primary-light);
}

#settingsModalContainer .modal-content > button:hover {
    color: var(--text-color-light);
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 600px) {
    .dialog-list-container {
        display: block;
        width: 40%;
    }
    
    .chat-container {
        flex: 1;
        max-width: 60%;
        display: flex;
        flex-direction: column;
    }
         
    .msg {
        max-width: 95%;
    }

    .modal {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {     
    .dialog-list-container {
        width: 30%;
    }
    
    .chat-container {
        max-width: 70%;
    }
         
    .msg {
        max-width: 80%;
    }

    .modal {
        width: 40%;
    }
}

@media only screen and (min-width: 992px) {
    .dialog-list-container {
        width: 25%;
    }
    
    .chat-container {
        max-width: 75%;
    }
         
    .msg {
        max-width: 60%;
    }

    .modal {
        width: 30%;
    }
}