:root {
    --color-primary-light : #CFF2F5;
    --color-primary: #85D4DB;
    --color-primary-dark: #00838F;
    --color-secondary: #FCA6A6;
    --color-secondary-dark: #D46B6B;
    --text-color-light: #828282;
    --text-color-dark: #3A3A3A;
}

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-primary-light); 
    font-family: 'Cambay', sans-serif;
}

button, 
input, 
select, 
textarea {
    font-family: inherit;
    font-size: 100%;
}

img {
    display: block;
}

textarea {
    overflow: auto;
}

a {
    font-weight: bold;
}

a:any-link {
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover,
a:active {
    text-decoration: underline;
}

.logo {
    height: 3.5em;
    margin: 10vh auto;
}

.btn {
    outline: none;
    border: none;  
}

.container-main {
    width: 100%;
    margin: 0 auto;
}

.form-wrapper {
    width: 100%;
    padding: 15%;
    background: rgba(255, 255, 255, 0.85);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.input-wrapper input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #A3A3A3;
    background-color: transparent;
    transition: border-bottom-color 0.5s;
}

.input-wrapper input:focus,
.input-wrapper input:not(:placeholder-shown) {
    border-bottom-color: var(--color-secondary);
}

.input-wrapper label {
    height: 1.5em;
    position: absolute;
    top: 0;
    left: 0; 
    color: var(--text-color-light);
    transition: 0.5s;
}

.input-wrapper input:focus + label, 
.input-wrapper input:not(:placeholder-shown) + label {
    font-size: 0.9em;
    top: -1.5em;
}

.input-wrapper:not(:last-of-type) > input{
    margin-bottom: 0.5em;
}

.form-login p {
    align-self: flex-end;
    font-size: 0.8em;
    color: var(--text-color-light);
}

.form-btn {
    width: 100%;
    height: 2.1em;
    border-radius: 10px;
    background-color: var(--color-secondary);
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.form-btn:hover {
    background-color: var(--color-secondary-dark);
    cursor: pointer;
}

@media only screen and (min-width: 400px) {
    .container-main {
        width: 90%;
    }

    .form-wrapper {
        border-radius: 6px;
    }
}

@media only screen and (min-width: 600px) {
    .container-main {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .container-main {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background: var(--color-primary-light) url("login_register_background.svg") no-repeat fixed center; 
        background-size: contain;
        font-family: 'Cambay', sans-serif;
    }

    .logo {
        height: 4.1em;
        margin: 0;
    }

    .container-main {
        width: 40%;
        margin: 15vh auto 0;
    }
}

@media only screen and (min-width: 1200px) {
    .container-main {
        width: 30%;
        max-width: 500px;
    }
}